body
  height 100%
  padding 0
  margin 0
  width 100%

  #lezhi-nav
    background-color #ff8f00

    .item
      color #000000
      padding .55em .90em

.container
  margin 0 15%

.page
  padding-top 20px

.card
  background-color #ffecb3
  box-shadow 0px 2px 2px #888888
  height 400px
  padding-top 40px
  text-align center
  width 30%

.login-container
  left 50%
  margin -225px 0 0 -210px
  position absolute
  text-align center
  top 50%

  .login
    height 400px
    width 360px
    color #ff8f00

    .login-item
      color #ff8f00
      margin-top 10px
      width 100%

.ui.button.lezhi-button
  background-color #ff8f00
  color #ffffff
  &:hover
    color #e0e0e0

.logo
  font-weight 500px;
  font-size 3em;

