lezhi-blue = #abdcd6
lezhi-red = #eb593c
lezhi-light-yellow = #fffcec

html
  height 100%
  background-color lezhi-red
//  background-image linear-gradient(lezhi-blue, lezhi-light-yellow)
//  background-image -webkit-linear-gradient(lezhi-blue, lezhi-light-yellow)
//  background-repeat no-repeat

a
  text-decoration: none;

body
  padding 0
  margin 0

  #lezhi-nav
    background-color lezhi-red
    height 42px
    overflow visiable

    .item
      color lezhi-light-yellow
      padding 20px 30px 10px 30px

      .icon
        opacity 1

      .item-text
        padding-bottom 2px

      &:hover
        background-color lezhi-red

        .item-text
          border-bottom solid 2px lezhi-light-yellow

    .nav-search
      .nav-search-input
        background-color lezhi-red
        border solid 2px lezhi-light-yellow
        color lezhi-light-yellow

        &::-webkit-input-placeholder
          color lezhi-light-yellow
        &:-moz-placeholder
          color lezhi-light-yellow
        &::-moz-placeholder
          color lezhi-light-yellow
        &:-ms-input-placeholder
          color lezhi-light-yellow

      .nav-search-icon
        color lezhi-light-yellow

.nav-logo
  position relative

  &:before
    position absolute
    content "乐知"

.logo
    background lezhi-light-yellow
    float left
    height 80px
    position relative
    width 80px

  .title-text
    padding-top 6px

  .lezhi-title
    color lezhi-red
    text-align center
    display block
    font-size 25px

.ribbon
  &:after
  &:before
    border-top 20px solid lezhi-light-yellow
    bottom -20px
    content ''
    height 0
    position absolute
    width 0

  &:after
    border-right 40px solid transparent
    left 0

  &:before
    border-left 40px solid transparent
    right 0

.container
  margin 0 15%

.page
  padding-top 20px

.card
  background-color #ffecb3
  box-shadow 0px 2px 2px #888888
  height 400px
  padding-top 40px
  text-align center
  width 30%

.login-container
  left 50%
  margin -225px 0 0 -210px
  position absolute
  text-align center
  top 50%

  .login
    height 400px
    width 360px
    color lezhi-red

    .login-item
      color lezhi-red
      margin-top 10px
      width 100%

.ui.button.lezhi-button
  background-color #eb593c
  color #ffffff
  &:hover
    color #e0e0e0

.login-logo
  font-weight 500px;
  font-size 3em;

