extends ./layout/layout.jade

block content
  if(!user)
    .login-container
      .login
        h1.login-logo 東方樂知
        h3.subtitle 登录
        div.message-display
          p.errorMessage#111 #{message.userNotExist}
          p.errorMessage#112 #{message.passwordDoesntMatch}
        .ui.left.icon.input.login-item
          input(id="login-email", placeholder="邮箱")
          i.mail.icon
        br
        .ui.left.icon.input.login-item
          input(id="login-password", type="password", placeholder="密码")
          i.lock.icon
        br
        a(href="#")#login-submit.ui.button.lezhi-button.login-item 登录

block pageStylesheets
  link(rel='stylesheet', href='/stylesheets/login.css')

block pageScripts
  script(src='/javascripts/login_controller.js')
