doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/libs/css/semantic.min.css')
    block pageStylesheets

  body
    .ui.main.inverted.menu#lezhi-nav
      .container
        .menu
          a.logo.ribbon(href="/")
            .title-text
              span.lezhi-title 乐知
              span.lezhi-title 文件
          a.item(href="/home")
            span.item-text
              i.icon.cloud.upload.
              最新上传
          a.item(href="/profile/#{user.email}")
            span.item-text
              i.icon.user
              个人主页
          .right.menu
            .ui.dropdown.item
              span.item-text
                文件管理
                i.icon.down.arrow
              .menu
                a.item
                  i.icon.search
                  搜索文件
    .page
      block content

    script(src='/libs/js/jquery.min.js')
    script(src='/libs/js/semantic.min.js')
    block pageScripts
