.ui.styled.sidebar#upload-sidebar
  h3.ui.header 上传文件
  .ui.form#file-upload-form
    .field
      .lezhi-input-label 选择文件
      .ui.action.input
        input.lezhi-file-input-name#lezhi-file-upload-name(type='text', disabled).input-display
        label(for='lezhi-file-upload').ui.icon.button.lezhi-button.lezhi-file-btn
          i.icon.file
          input(type='file', style='display:none', name='lezhi-file-upload').lezhi-file-input#lezhi-file-upload

    .field
      .lezhi-input-label 选择项目
      .ui.selection.fluid.dropdown.input-display
        input(type='hidden', name='project')
        .default.text 项目选项
        i.icon.dropdown
        .menu
          for p in projects
            .item(data-value='#{p}') #{p}
